/**
       * Hide when Angular is not yet loaded and initialized
       */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

md-whiteframe {
    margin: 7px;
    height: 50px;
    background-color: #4CAF50;
    color: #FFF;
}

.even {
    background-color: #E1F5FE;
}

.odd {
    background-color: #B3E5FC;
}

.active {
    background-color: #c8e4fa;
}


.code {
    margin: 10px;
    color: red;
}

select {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2px 2px 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-color: transparent;
    position: relative;
    box-sizing: content-box;
    min-width: 64px;
    max-height: 26px;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}