/**
       * Hide when Angular is not yet loaded and initialized
       */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

md-whiteframe {
    margin: 7px;
    height: 50px;
    background-color: #4CAF50;
    color: #FFF;
}

.even {
    background-color: #E1F5FE;
}

.odd {
    background-color: #B3E5FC;
}

.active {
    background-color: #c8e4fa;
}


.code {
    margin: 10px;
    color: red;
}